form span {
    color: red;
}

body{
    margin-left: 5%;
    margin-right: 5%;
}



h1{
    text-align: center;
}

h1, form label, form button, form input, form span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type=text]{
    margin-bottom: 1em;
}

form label{
    width: 45%;
    display: inline-block;
    text-align: right;
}

form button{
    margin-left: 40%;
    padding: 1em;
    color: white;
    background-color: darkolivegreen;
    border: 3px solid black;
    cursor: pointer;

}

form button:hover{
    background-color: olivedrab;

}

.message{
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 600px){
    form label{
        text-align: left;
    }
    form button {
        margin-left: 0%;
    }
}